.card {
  background-color: #fff;
  width: 70%;
  max-width: 400px;
  height: 50%;
  max-height: 500px;
  padding: 30px;
  text-align: center;
  border: 0.5px solid #d3d6dd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  display: block;
  height: 40px;
  width: 100%;
  margin: 15px 0;
  border: 1px solid #7f7d7d;
  border-radius: 15px;
  font-size: 1em;
}

input::placeholder {
  padding-left: 20px;
}