header {
  width: 100vw;
  color: #fff;
  background-color: #7400b9;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header-content {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-container {
  display: flex;
  align-items: center;
  margin: 0 25px;
}


.btn-logout {
  width: auto;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px;
}

nav a:hover {
  background-color: #b235fc;
  border-radius: 15px;
}